
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Hello <%= current_user.first_name%></h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>
</main>

<h2>Blog</h2>

<ul>
  <% @blogs.each do |blog| %>
    <li>
      <%= link_to blog.title, blog %>
    </li>
  <% end %>
</ul>



<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
    Blogs
  </h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"
        ><a href="#!" class="text-success"
          ><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a
      ></span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th class="text-center">Title</th>
            <th class="text-center">Description</th>                        
            <th class="text-center">Remove</th>
          </tr>
        </thead>
        <tbody>
        <% @blogs.each do |blog| %>
          <tr>
            <td class="pt-3-half" ><%= link_to blog.title, blog %></td>
            <td class="pt-3-half" ><%= blog.body %></td>                       
            <td>
              <span class="table-remove"
                ><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                  Remove
                </button></span
              >
              <span class="table-remove"
                ><%= link_to "Destroy", blog_path(@blogs) , method: :delete,
                data: { confirm: "Are you sure?"} ,class: "btn btn-danger btn-rounded btn-sm my-0" %></span
              >
            </td>
          </tr>   
        <% end %>         
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->
